.para1 {
  color: midnightblue;
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.table1,
td {
  border: 1px solid orchid;
}

.table1 {
  border-collapse: collapse;
}

.para2 {
  color: lightcoral;
  font-family: 'Times New Roman', Times, serif;
}

.div1 {
  width: 300px;
  border: 10px solid blueviolet;
  padding: 50px;
  margin: 20px;
}

.img1 {
  width: 128px;
  height: 128px;
  border: 5px solid antiquewhite;
}
